# Force everything to PHP if needed
*.php linguist-language=PHP
*.hh linguist-language=PHP
*.hack linguist-language=PHP

# Ignore vendor, node_modules, tests from stats
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
/tests/* linguist-vendored
